/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 15, 2014, 8:58:31 PM
    Author     : Matt

*/

input#field.text{
    position: absolute;
    color: gray;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    top: 45px;
    height: 23px;
    width: 300px;
    z-index: 2;
}

input#field.text{
    position: absolute;
    color:black;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    top: 45px;
    height: 20px;
    width: 300px;
    z-index: 2;
}

div.suggestions{
    position:absolute;
    background: white;
    z-index:5;
    border-color:lightgray;
    border-style:solid;
    border-width: 1px;
    width:300px;
    overflow:hidden;
    display:none;
}

div.sub_suggestions{
    width:300px;
}

div.sub_suggestions:hover{
    background-color:gainsboro;
}
button{
    position: absolute;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: blue;
    background: blue;
    padding:4px;
    top: 43px;
    left: 310px;
    color: white;
    z-index: 4;
}


            .icons{
                position: relative;
                top: 10px;
                height: 40px;
                background-color: white;
            }
            .icons img{
                float: right;
            }
            .grid{
                position: relative;
            }
            .grid div.photo{
                position: relative;
                float: left;
            }
            .list div.photo img{
                background-color: white;
                padding: 5px;
                border-style: solid;
                border-width: 1px;
                border-color: lightgray;
                width: 200px;
                height: 200px;
                margin: 3px;
                opacity: 1;
                background: rgb(254,249,206); // white for .grid but rgb(254,249,206) for .list
            }
            
            .grid div.photo img{
                background-color: white;
                padding: 5px;
                border-style: solid;
                border-width: 1px;
                border-color: lightgray;
                width: 200px;
                height: 200px;
                margin: 3px;
                opacity: 1;
                background: white; 
            }
            .grid div.photo .HD, .list div.photo .HD{
                position: absolute;
                width: 45px;
                height: 45px;
                top: 10px;
                left: 10px;
                padding: 0;
                border: none;
                background: transparent;
                z-index: 1;
            } 
            .list div.photo .HD{
                top: 20px;
                left: 20px;
            }
            
            .grid div.photo div.description{
                position: absolute;
                top: 178px;
                left: 9px;
                height: 31px;
                width: 200px;
                background-color: black;
                opacity: 0.3;
            }
            .grid div.photo p.description{
                position: absolute;
                top: 172px;
                color: white;
                text-align: center;
                font-weight: bold;
                font-size: 60%;
                text-transform: uppercase;
                text-indent: 10%;
                width: 199px;
            }
            .grid div.photo p.movie_description{
                display: none;
            }
            .grid div.photo p.starring{
                display: none;
            }
            .grid div.photo p.rating{
                display: none;
            }
            .grid div.photo p.date{
                position: absolute;
                top: 183px;
                color: white;
                text-align: center;
                text-indent: 10%;
                font-size: 60%;
                width: 199px;
            }
            .list{
                position: relative;
            }
            .list div.photo{
                position: relative;
                display: block;
                width: 70%;
                height: 50%;
                padding: 10px;
                border-bottom: lightgray 1px dotted;
            }
            .list div.photo div.description{
                position: absolute;
                top: 188px;
                left: 19px;
                height: 31px;
                width: 200px;
                background-color: black;
                opacity: 0.3;
            }
            .list div.photo p.description{
                position: absolute;
                top: 182px;
                color: white;
                text-align: center;
                font-weight: bold;
                font-size: 60%;
                text-transform: uppercase;
                text-indent: 3%;
                width: 199px;
            }
            .list div.photo .date{
                position: absolute;
                top: 192px;
                color: white;
                text-align: center;
                text-indent: 4%;
                font-size: 60%;
                width: 199px;
            }
            .list div.photo p.starring{
                position: absolute;
                font-size: 90%;
                background-color: rgb(240,240,240);
                top: 15px;
                left: 240px;
                display: inline;
                height: 20px;
                padding: 5px;
                border: 1px solid lightgray;
                border-bottom: none;
                border-radius: 4px;
            }
            .list div.photo p.movie_description{
                position: absolute;
                background-color: lightcyan;
                font-size: 90%;
                top: 42px;
                text-align: justify;
                padding: 10px;
                width: 400px;
                color: black;
                left: 240px;
            }
            .list div.photo p.rating{
                position: absolute;
                top:160px;
                color: black;
                left: 240px;
                padding: 10px;
            }
            div.searchbar{
                position: absolute;
                background-color: rgb(240,240,240);
                height: 45px;
                width: 100%;
                padding: 5px;
                top: 34px;
                left: 0;
                z-index: 1;
            }
            .sort_bar{
                background-color: white;
                position: relative;
                top: 100px;
                width: 100%;
                height: 30px;
            }
            #list_icon{
                float: right;
                padding-right: 10px;
            }
            #grid_icon{
                float: right;
                padding-left: 10px;
            }
            #combo_box{
                float: right;
            }
            .body{
                display: none;
                background-color: white;
                color: white;
            }

div.top{
    background: rgb(254,252,190);
    top:5px;
    height:29px;
    width: 100%;
    z-index: 5;
}
ul.menu{
    position:absolute;
    font-family: "Arial",Times,serif;
    font-weight: bold;
    font-size: 80%;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.menu li {
    position: relative;
    float:left;    
}

ul.menu li ul{
    display: none;
}

ul.menu li a {
    text-decoration: none;
    position: relative;
    display: block;
    color: black;
    padding: 5px 15px 5px 15px;
    padding-bottom: 0;
    background-color: rgb(254,252,190);
    font-weight: bold;
    z-index: 5;
    //height:15px;
    //margin-left: 1px;   
}



ul.menu li a:hover {
    background-color: rgb(255,250,158);
}

ul.menu li:hover ul {
    display: block;
    margin: 0;
    padding: 0;
}

ul.menu li:hover ul li a{
    border-bottom: 1px solid lightgray;
    background-color: rgb(254,252,190);
    font-weight:normal;
    padding: 5px 15px 5px 15px; 
    //height:15px;
    width:150px;
}


ul.menu li:hover  li a:hover {
    background: rgb(235,235,235);
}

ul.menu li:hover li{
    float: none;
    font-size: 12px;
}

#photos div.photos p.arrow_box:hover{
        z-index: 5;
        position: absolute;
        border: solid;
        border-width: 1px;
        border-radius: 6px;
        background: beige;
  
}

.grid div.photo p.arrow_box {
        z-index: 5;
        position: absolute;
        border: solid;
        border-width: 1px;
        border-radius: 6px;
        background: beige;
        display: none;
}
/*
.grid div.photo p.arrow_box:after, .grid div.photo p.arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.grid div.photo p.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: black;
	border-width: 20px;
	margin-left: -20px;
}
.grid div.photo p.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: black;
	border-width: 23px;
	margin-left: -23px;
        display: none;
}
*/
